.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}
label {
  display: block;
  font-weight:    bold;
  font-size: 1em;
  color:      #2d525d;
}
input, select {
  display: block;
  margin: 10px 0px;
  border-top:   2px solid #a3ceda;
  border-left:    2px solid #a3ceda;
  border-right:   2px solid #4f6267;
  border-bottom:    2px solid #4f6267;
  padding:    10px 20px !important;
  font-size:    1.2em;
}

.submitButton
{
  border-top:   2px solid #a3ceda;
  border-left:    2px solid #a3ceda;
  border-right:   2px solid #4f6267;
  border-bottom:    2px solid #4f6267;
  padding:    10px 20px !important;
  font-size:    1.2em;
  background-color: #c4f1fe;
  font-weight:    bold;
  color:      #2d525d;
}
