.container {
  margin-left: 20px;
  width: 90%;
  height: 80%;
  padding: 0px 20px 20px 20px;
}

html { height: 100% }

body { height: 100%;
       margin: 0;
       padding: 0 }

h1 {
  color: #4f6267;
}

th {
  text-align: left;
}
label {
  padding-top: 10px;
  display: block;
  font-weight:    bold;
  font-size: 1em;
  color: #2d525d;
}
input, select {
  display: block;
  margin: 10px 0px;
  border-top:   1px solid #a3ceda;
  border-left:    1px solid #a3ceda;
  border-right:   1px solid #4f6267;
  border-bottom:   1px solid #4f6267;
  padding:    3px 6px !important;
  font-size:    1em;
}

.submitButton
{
  border-top:   1px solid #a3ceda;
  border-left:    1px solid #a3ceda;
  border-right:   1px solid #4f6267;
  border-bottom:   1px solid #4f6267;
  padding:    3px 6px !important;
  font-size:    1em;
  background-color: #c4f1fe;
  font-weight:    bold;
  color:      #2d525d;
  text-decoration: none;
}

#map-canvas {
  height: 325px;
  max-width: 375px;
  border: 2px solid gray;
  padding-top: 10px;
  margin: 20px 0;
 }

.invisible {
  display: none;
}

#map-canvas-start {
  height: 250px;
  width: 300px;
  display: block;
  border: 2px solid gray;
  margin-left: 0;
 }

.welcome {
  display: inline;
  margin-right: 20px;
  margin-left: 20px;
  color: white;
}

.welcomeImage {
  margin-left: 20px;
}
.name {
  color: orange;
}

header {
  background-color: #464646;
  padding: 10px 0;
  color: white;
}

header a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

header a:hover {
  color: #a3ceda;
}

/* TABLE STYLES */

