<header>
    <a href="/">Home</a>
  <% if logged_in? %>
    <a href="/walks">Profile</a>
    <a href="/sign_out">Sign Out</a>
  <% else %>
    <a href="/sign_in">Sign In with Twitter</a>
  <% end %>
</header>