<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/application.css">
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&sensor=true">
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js"></script>
    <script src="/js/start.js"></script>

  <title>Get your walk on</title>
</head>
<body>
    <%= erb :_header %>
    <% if logged_in? %>
      <%= yield %>
    <% else %>
    <div class="container">
      <h1>Get your walk on!</h1>
      <p>Sign in with Twitter to begin randomizing your walking routes</p>
      <p>After creating your route, you can choose to save it and tweet it!</p>
    </div>
    <% end %>
</body>
</html>
